{% extends "polls/base.html" %}

{% block title %}Recent Polls{% endblock %}

{% block content %}

{% if User.is_authenticated %}

<h1>Hi, { User.username }, here are your Polls</h1>
    {% if latest_poll_list %}
        <ul class="poll-list">
        {% for poll in latest_poll_list %}
            <li><a href="/polls/{{ poll.id }}/">{{ poll.question }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No polls are available.</p>
    {% endif %}
    <br />

{% else %}
<h1>no polls for you!</h1>
{% endif %}


{% endblock %}
