{% extends "polls/base.html" %}

{% block title %}Recent Polls{% endblock %}

{% block content %}

TODO: Implement a login

<h1>Your Polls</h1>
    {% if latest_poll_list %}
        <ul class="poll-list">
        {% for poll in latest_poll_list %}
            <li><a href="/polls/{{ poll.id }}/">{{ poll.question }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No polls are available.</p>
    {% endif %}
    <br />
<p>TODO: Only allow one vote on assigned polls.</p> 

<p>Add visual cues: <ul><li>Poll in progess</li> <li>Poll finished</li></ul></p>

<p>In progress polls that the voter has voted on should be "grayed out". Finished Polls should display "n% of n people chose: choice"</p>

{% endblock %}
