{% extends "polls/base.html" %}

{% block title %}Auth{% endblock %}


{% block content %}

<h1>{{ state }}</h1>

<form action="/login/" method="post">{% csrf_token %}
		{% if next %}
		<input type="hidden" name="next" value="{{ next }}" />
		{% endif %}
		username: 
		<input type="text" name="def_username" value="{{ username}}" /><br />
		password: 
		<input type="password" name="def_password" value="" /><br />
		email: 
		<input type="email" name="def_email" value="" /><br />
		<input type="submit" value="Register" />
	</form>


{% endblock %}